body{
    font-family: 'Rubik', sans-serif;
    font-family: 'Rye', cursive;
    background-image: linear-gradient(to bottom, #40a300,#40a300, #40a300, #40a300, #f60041, #f60041, #f60041, #5b0097, #5500A3, #5500a3);
    background-color: darkgreen;
}
